<nav id="dashboard-side-navbar" class="side-navbar">
    <div class="p-4 pt-5">
        <ul class="list-unstyled components mb-5">

            <li>
                <a href="#" class="urlBtn" role="button" id="Statistics"> 
                    <i class="fas fa-tasks"></i> My Work items
                </a>
            </li>

            <li>
                <a href="#" class="urlBtn" role="button" id="Statistics"> 
                    <i class="fas fa-at"></i> Mentions
                </a>
            </li>

            <li>
                <a href="#" class="urlBtn" role="button" id="Statistics">
                    <i class="fas fa-inbox"></i> Inbox
                </a>
            </li>
        </ul>
    </div>
</nav>