<nav id="dashboard-side-navbar" class="side-navbar">
    <div class="p-4 pt-5">
        <ul class="list-unstyled components mb-5">

            <!-- STATISTICS -->
            <li>
                <a href="#" class="urlBtn" role="button" id="Statistics">Statistics</a>
            </li>

            <!-- PLANING -->
            <li>
                <a href="#planingSubMenu" data-toggle="collapse" aria-expanded="false"  id="Planing" class="dropdown-toggle">
                    Planing
                </a>
                
            </li>

            <!-- SPRINT -->
            <li>
                <a href="#sprintSubMenu" data-toggle="collapse" aria-expanded="false" id="Sprint" class="dropdown-toggle sprint">
                    Sprint
                </a>
            </li>

            <li>
                <a href="#" class="urlBtn queries" role="button" id="ProjectQueries">Queries</a>
            </li>

        </ul>
    </div>
</nav>