<!-- Modal -->
<div class="modal fade" id="edit-project-modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Edit Project </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span> 
            </button>
            </div>

            <div class="modal-body">

                <fieldset>
                    <div class="form-group">
                        <label for="projectName">Project Name</label>
                        <input type="text" class="form-control" id="edit-project-name" name="projectName" aria-describedby="nameHelp" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="projectDescription">Project Description</label>
                        <textarea class="form-control" id="edit-project-description" name="projectDescription" rows="3" placeholder="Enter Description"></textarea>
                    </div>
                </fieldset>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="edit-project-submit-btn" class="btn btn-primary">Update</button>
            </div>
        </div>
        <input type="hidden" name="projectId" id="edit-project-id-input" value="0">
    </div>
</div>