<div id="filterDiv">
    <div class="d-flex flex-row-reverse">
        <div class="p-2 pr-4 pb-2">

            <div class="button-group">
                <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">Priority <i class="fas fa-caret-down"></i></button>

                <ul class="dropdown-menu filterOptions">
                    <li>
                        <a href="#" class="small" data-value="option1" tabIndex="-1">
                            <input type="checkbox" />&nbsp;Option 1
                        </a>
                    </li>

                    <li>
                        <a href="#" class="small" data-value="option2" tabIndex="-1">
                            <input type="checkbox" />&nbsp;Option 2
                        </a>
                    </li>

                    <div class="d-flex flex-row-reverse filterDivisor">
                        <button type="button" class="btn btn-secondary">Clear</button>
                    </div>
                </ul>
            </div>

        </div>

        <div class="p-2 pb-2">

            <div class="button-group">
                <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">Points <i class="fas fa-caret-down"></i></button>

                <ul class="dropdown-menu filterOptions">
                    <li>
                        <a href="#" class="small" data-value="option1" tabIndex="-1">
                            <input type="checkbox" />&nbsp;Option 1
                        </a>
                    </li>

                    <li>
                        <a href="#" class="small" data-value="option2" tabIndex="-1">
                            <input type="checkbox" />&nbsp;Option 2
                        </a>
                    </li>

                    <li>
                        <a href="#" class="small" data-value="option3" tabIndex="-1">
                            <input type="checkbox" />&nbsp;Option 3</a>
                    </li>

                    <div class="d-flex flex-row-reverse filterDivisor">
                        <button type="button" class="btn btn-secondary">Clear</button>
                    </div>
                </ul>
            </div>

        </div>
        
        
        <div class="p-2 pb-2">
            <div class="button-group">
                <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">State <i class="fas fa-caret-down"></i></button>

                <ul class="dropdown-menu filterOptions">
                    <li>
                        <a href="#" class="small" data-value="option1" tabIndex="-1">
                            <input type="checkbox" />&nbsp;Option 1
                        </a>
                    </li>

                    <li>
                        <a href="#" class="small" data-value="option2" tabIndex="-1">
                            <input type="checkbox" />&nbsp;Option 2
                        </a>
                    </li>

                    <li>
                        <a href="#" class="small" data-value="option3" tabIndex="-1">
                            <input type="checkbox" />&nbsp;Option 3</a>
                    </li>

                    <li>
                        <a href="#" class="small" data-value="option4" tabIndex="-1">
                            <input type="checkbox" />&nbsp;Option 4</a>
                    </li>

                    <li>
                        <a href="#" class="small" data-value="option5" tabIndex="-1">
                            <input type="checkbox" />&nbsp;Option 5
                        </a>
                    </li>

                    <li>
                        <a href="#" class="small" data-value="option6" tabIndex="-1">
                            <input type="checkbox" />&nbsp;Option 6
                        </a>
                    </li>

                    <div class="d-flex flex-row-reverse filterDivisor">
                        <button type="button" class="btn btn-secondary">Clear</button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>