
<!-- Dependecies -->
<script src="/javascripts/dependecies/jquery3.5.2.js"></script>
<script src="/javascripts/dependecies/validator.min.js"></script>
<script src="/javascripts/helpers.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<!-- Adding scritps -->
<% if (scriptsPath){ %>
    <% for (let path of scriptsPath){ %>
        <script src="<%=path%>"> </script>
    <%}%>
<% } %>

</body>

</html>


<!-- https://bootswatch.com/darkly/ -->
