<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>


    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/daterangepicker.css"/>
    <!-- Adding styles -->
    <!-- <% if (stylesPath){ %> -->
        <% for (let path of stylesPath){ %>
            <link rel="stylesheet" href="<%=path%>">
        <%}%>
    <!-- <% } %> -->

</head>
<body>

<% if (error && error.length > 0){ %>

    <div class="d-none">
        <input type="hidden" name="errorFeedback" id="error-feedback-msg" value="<%=error%>">        
    </div>
<% } %>


<% if (success && success.length > 0){ %>
    <div class="d-none">
        <input type="hidden" name="successFeedback" id="success-feedback-msg" value="<%=success%>">
    </div>
<% } %>
