 <!-- Save Query Modal -->
    <!-- Modal -->
<div class="modal fade" id="showQueries" tabindex="-1" role="dialog"
    aria-labelledby="My Queries" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">My Queries <i class="fas fa-list formatIcon"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">

                    <% for (let query of userQueries) { %>
                        <div class="row" id="<%=query['_id']%>">
                        
                            <div class="col-10 colMyQuery">
                                <% if (query["name"]) {%>
                                    <span>- <%=query["name"]%></span>
                                <% }else { %>
                                    <span>- Unnamed</span>
                                <% }%>
                            </div>
    
                            <div class="col-2 my-auto">
                                <i class="fas fa-trash trashIconMyQueries blockColor"></i>
                            </div>
                        </div>
                    <%}%>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveQuery" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>