<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5"
            style="background-image: url(/images/solar-system.svg);"></a>

        <!-- Load name dynamic  -->
        <p id="projectName"></p>

        <ul class="list-unstyled components mb-5">

            <!-- <li class="active"> -->
            <li>
                <a href="#" class="urlBtn" role="button" id="linkToStatistics">Statistics</a>
            </li>

            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Planing</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#" class="urlBtn" role="button" id="linkToBacklog">Backlog</a>
                    </li>
                    <li>
                        <a href="#" class="urlBtn" role="button" id="linkToSprintPlaning">Sprint Planing</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Sprint</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#" class="urlBtn" role="button" id="linkToBoard">Board</a>
                    </li>
                    <li>
                        <a href="#" class="urlBtn" role="button" id="linkToMyTask">My Tasks</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="urlBtn" role="button" id="linkToQueries">Queries</a>
            </li>

            <li>
                <a href="#" class="urlBtn" role="button" id="linkToWiki">Wiki</a>
            </li>

        </ul>
    </div>
</nav>