<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5"
            style="background-image: url(/images/solar-system.svg);"></a>

        <!-- Load name dynamic  -->
        <p id="projectName"></p>

        <ul class="list-unstyled components mb-5">

            <!-- <li class="active"> -->
            <li>
                <a href="/dashboard/<%=projectId%>" class="urlBtn" role="button" id="Statistics">Statistics</a>
            </li>

            <li>
                <a href="#planingSubMenu" data-toggle="collapse" aria-expanded="false"  id="Planing" class="dropdown-toggle">
                    Planing
                </a>
                
                <ul class="collapse list-unstyled" id="planingSubMenu">
                    <li>
                        <a href="/dashboard/<%=projectId%>/planing/backlog" class="urlBtn" role="button" id="Backlog">Backlog</a>
                    </li>
                    <li>
                        <a href="#" class="urlBtn" role="button" id="SprintPlaning">Sprint</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#sprintSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sprint">
                    Sprint
                </a>
                
                <ul class="collapse list-unstyled" id="sprintSubMenu">
                    <li>
                        <a href="#" class="urlBtn" role="button" id="SprintBoard">Board</a>
                    </li>
                    <li>
                        <a href="#" class="urlBtn" role="button" id="SprintMyTask">My Tasks</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="urlBtn queries" role="button" id="linkToQueries">Queries</a>
            </li>

            <li>
                <a href="#" class="urlBtn wiki" role="button" id="linkToWiki">Wiki</a>
            </li>

        </ul>
    </div>
</nav>