<div class="box-title">
    <nav class="navbar navbar-expand-lg pr-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <span class="navbar-brand" id='box-title-title'> <%=tabTitle%> </span>
            </ul>
            
            <div class="form-inline my-2 my-lg-0 pr-4">
        </div>
    </nav>
</div>