<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> <i class="fas fa-meteor"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <h4><%=currentUser['fullName']%></h4>
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <% if (projectId != undefined) { %>

           <li class="nav-item topNavMenuContainer">
                <div class="collapse navbar-collapse" id="topNavbarOptions">
                    <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Dashboard</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target=".add-user-project-modal">Add User</a>
                            <a class="dropdown-item" href="#">Remove User</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Manage Privilege</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sprints</a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Create Sprint</a>
                        <a class="dropdown-item" href="#">Remove Sprint</a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Manage Sprint</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Teams</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target=".create-team-modal">Create Team</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target=".delete-team-modal">Remove Team</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/dashboard/<%=projectId%>/manageTeam/">Manage Team</a>
                        </div>
                    </li>
                    </ul>
                
                </div>
           </li >
           <% } %>

        </ul>
        
        <a href="http://localhost:3000/login/logout" style="padding-right: 2%;text-decoration: none;color: white;"><i class="fas fa-sign-out-alt"></i></a>
        
        <i class="far fa-user-circle"></i>
    </div>
</nav>

<% if (error && error.length > 0){ %>

    <div class="container alerts-container">
        <div class="alert alert-danger" role="alert">
           <%= error %>
        </div>
    </div>

<% } %>


<% if (success && success.length > 0){ %>

    <div class="container alerts-container">
        <div class="alert alert-success" role="alert">
           <%= success %>
        </div>
    </div>

<% } %>