<div class="container mt-4 info-container-when-empty" id="work-item-info">
    <div class="jumbotron">
        <h1 class="display-4">Board</h1>
        <p class="lead">
            Same as sprint, but with a better look.
        </p>
        <hr class="my-4">

        <p class="lead">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".create-sprint-modal">
                <i class="fas fa-running"></i> Create Sprint
            </button>
            <button class="btn btn-success btn-lg" data-toggle="modal" data-target=".createNewItemModal">
                <i class="fas fa-plus"></i> Create Work Item 
            </button>
        </p>
      </div>
</div>