<div class="container mt-4 info-container-when-empty" id="work-item-info">
    <div class="jumbotron">
        <h1 class="display-4">Sprints</h1>
        <p class="lead">
            Sprints are basically the amound of time you think it will take to complete an amound of work items.
        </p>
        <hr class="my-4">
        <p>
            The duration of the sprints depends of the teams performance but usually is about two weeks. 
            <br> <br>
            Sprints also has a capacity. The capacity is the amound of points a team can complete. This number is just an estimate.
        </p>
        <p class="lead">
            <button class="btn btn-primary btn-lg open-create-team-modal" data-toggle="modal"
                data-target=".create-team-modal">
                <i class="fas fa-plus"></i> Create Team
            </button>
            <button class="btn btn-success btn-lg" data-toggle="modal"
                data-target=".create-sprint-modal">
                <i class="fas fa-plus"></i> Create Sprint
            </button>
        </p>
      </div>
</div>