<div class="container mt-4 info-container-when-empty" id="work-item-info">
    <div class="jumbotron">
        <h1 class="display-4">Teams</h1>
        <p class="lead">
           Teams are the best example of divide and conquer. Withouth a team there isn't Backlog or Sprints. 
        </p>
        <hr class="my-4">
        <p>
            You can create multiple teams and assign work items to them. Each team is responsible of completing the work items assigned. Teams also can be assigned to users.
            <br> <br>
            Something important about teams is the initials. Initials are used as an three leters identifier for the work item. This way you know which work items belongs to which team. 
        </p>
        <p class="lead">
            <button class="btn btn-primary btn-lg open-create-team-modal" data-toggle="modal"
                data-target=".create-team-modal">
                <i class="fas fa-plus"></i> Create Team
            </button>
            <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#add-user-to-team-modal"> 
                <i class="fas fa-user-plus"></i> Add user to Team 
            </button>
        </p>
      </div>
</div>