<div class="container mt-4 info-container-when-empty" id="work-item-info">
    <div class="jumbotron">
        <h1 class="display-4">Backlog</h1>
        <p class="lead">
           This is the best place to find all remaining work for a team that is not being work at the moment. 
        </p>
        <hr class="my-4">
        <p>
            Here you can find all work items assigned to a team. You can filter by team using the filter above. 
            <br> <br>

            In order for a Work Item to be here it must have a team assigned and it must <span class="upper">not</span> have a sprint assigned. 
        </p>
        <p class="lead">
          <button class="btn btn-primary btn-lg open-create-team-modal" data-toggle="modal" data-target=".create-team-modal"><i class="fas fa-users" style="color: white;"></i> Create Team</button>
          <button class="btn btn-success btn-lg" data-toggle="modal" data-target=".createNewItemModal"> <i class="fas fa-plus"></i> Create Work Item </button>
        </p>
      </div>
</div>