<div class="container" id="work-item-info">
    <div class="jumbotron">
        <h1 class="display-4">Work Items</h1>
        <p class="lead">
            It seems you don't have any work item for this project yet.
        </p>
        <hr class="my-4">
        <p>
            Work Items are the main functionality of this application. You can use them as a TODO element, to store information, 
            or keep track of the status of a personal project. <br> <br>

            Work items usually are first assigned to a Team, which is in charge of completing the action. Try using the following buttons.
        </p>
        <p class="lead">
          <button class="btn btn-primary btn-lg open-create-team-modal" data-toggle="modal" data-target=".create-team-modal"><i class="fas fa-users" style="color: white;"></i> Create Team</button>
          <button class="btn btn-success btn-lg" data-toggle="modal" data-target=".createNewItemModal"> <i class="fas fa-plus"></i> Create Work Item </button>
        </p>
      </div>
</div>