<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>

<body>
    <h1>LOGIN</h1>
    <form action="/login" method="post">
        <div style="margin-left: 10%; width: 100%;">

            <input type="email" name="username" id="fieldEmail" placeholder="Email">
            <br>
            <input type="password" name="password" id="fieldPassword" placeholder="Password">
            <input type="submit" value="submit">
        </div>

    </form>
</body>

</html>