<td class="tdWorkItemSubMenu">
    <span class="btn btn-outline-info workItemOpenSubMenu" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v workItemSubMenuIcon"></i>
    </span>
    
    <div id="workItemSubMenu" class="dropdown-menu " data-bs-popper="none">
        <a class="dropdown-item subMenuItem subMenuSprintItem moveToBacklog" href="#" rel="0" id="<%=workItems[i]['_id']%>">
            Move to Backlog
        </a>                                        
    </div>
</td>