<!-- Modal -->
<div class="modal fade create-team-modal" id="create-team-modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            
            <form method="POST" id="createTeamForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Create New Team </h5> &nbsp; &nbsp; <i class="fas fa-users"></i>
                    <button type="button" id="closeCreateTeamBtn" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span> 
                    </button>
                </div>

                <div class="modal-body">

                    <fieldset>
                        <div class="form-group">
                            <label for="teamName">  <span style="color:red;">*</span> Name</label>
                            <input type="text" class="form-control" name="teamName"  id="teamName" aria-describedby="nameHelp" placeholder="Enter name">
                            <small id="teamNameSpanError" class="text-danger invisible">Invalid option, please try again.</small>
                        </div>
                        <!-- TODO: make it possible to add multiple users -->
                        <div class="form-group">
                            <label for="teamUsers">Add user</label><br>
                            <input list="listUsers" name="teamUsers"  id="listOfUsers" class="form-control" placeholder="Type user name">
                            <datalist id="listUsers">
                                <% for(let i = 1; i < assignedUsers.length; i++){%>
                                    <option class="teamUserList" value="<%=assignedUsers[i]['name']%>" id="<%=assignedUsers[i]['id']%>">
                                <% } %>
                            </datalist>
                            <small id="teamUsersSpanError" class="text-danger invisible">Invalid option, please try again.</small>
                        </div>

                    </fieldset>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="create-team-submit-btn" type="submit" value="submit" class="btn btn-primary">Create Team</button>
                </div>
            </form>

        </div>
    </div>
</div>