<!-- Modal -->
<div class="modal fade delete-team-modal" id="delete-team-modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Delete Team </h5> &nbsp; &nbsp; <i class="fas fa-users"></i>
                <button type="button" id="closeRemoveTeamBtn" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span> 
                </button>
            </div>

            <div class="modal-body">

                <fieldset>

                    <div class="form-group">
                        <label for="teamUsers">Team:</label><br>

                        <select class="custom-select my-custon-select" name="teamName" id="listOfTeams">
                            <option value='0' selected>Please select a team.</option>
                            <% for(let i = 0; i < projectTeams.length; i++){%>

                                <% if (projectTeams[i]["_id"] == "0"){%>
                                    <%continue;%>
                                <%}%>
                                <option value="<%=projectTeams[i]['_id']%>"><%=projectTeams[i]['name']%></option>
                            <%}%>
                        </select>

                        <small id="teamUsersSpanError" class="text-danger">Once the team is removed, cannot be recovered. </small>
                    </div>

                </fieldset>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="delete-team-submit-btn" class="btn btn-warning">Apply</button>
            </div>
        </div>
    </div>
</div>