<!-- MODAL TO CREATE USER -->
<div class="modal fade" id="view-team-users-modal" tabindex="-1" role="dialog" aria-labelledby="edit-team"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createUserTitle" style="width: 60%;">
                        Team Users  <i class="fas fa-user-friends formatIcon"></i> </h5> &nbsp; &nbsp;
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-10 container-search-team-users">
                                <input id="filter-team-users" class="form-control mr-sm-2" type="text" placeholder="Search by name">
                            </div>

                            <div class="col-2 my-auto">
                                <i class="fas fa-filter filter-team-users-icon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid" id="containerTeamUsers">

                    </div>
                  
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                </div>
        </div>

    </div>
</div>