html,body {
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
}
  
#createWorkItem, .filterBtn{
    border: none; 
    background: none;
    outline: none;
}

#createWorkItem i{
    font-size: 0.9em;
    color: chartreuse;
}

#createWorkItem:hover, .filterBtn:hover{
    opacity: 0.7;
}

.tableHeader{
    font-size: 1.2em;
}


.taskIcon{
    color:gold;
}

.modal-lg{
    max-width: 100%;
    width: 60% !important;
}

.IdAndTitle{
    width: 100%;
}

.IdAndTitle h4:first-child{
    margin-right: 4%;
    font-weight: bold;
}

.IdAndTitle h4:nth-child(2){
    opacity: 0.8;
}

.border-botton{
    border-bottom: 1px solid #444;
}

.userLogo{
    color: gray;
    margin-right: 4%;
}

#new-item-title{
    background: transparent;
    border: 1px solid transparent;
    padding: 5px;
    outline: none;
    color: white;
    width: 100%;
    font-size: 1.3em;
    border-radius: 5px;
}

#new-item-title:hover{
    cursor: pointer;
    border-color: grey;
}

#new-item-title:focus{
    border-color: grey;
}

#title-span-msg{
    color: red;
    font-size: 0.8em;
    font-weight: bold;
}

.fa-exclamation-circle{
    font-size: 0.9em !important;
}

.fa-comments{
    font-size: 1.5em !important;
    padding-top: 5px;
}

.create-work-item-bg{
    margin-bottom: .5% !important;
    background-color: rgba(128, 128, 128, 0.2);
}

.no-m-bt{
    margin-bottom: 0%!important;
}

.my-custon-select{
    background-color: transparent;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid transparent;
    background-image: none !important;
    border-bottom: 1px solid gray;
}

.my-custon-select:hover{
    cursor: pointer;
    border-color: gray;
}

.aling-vertically{
    margin-left: 3%;
    font-size: 0.8em;
    margin-right: 8%;
    font-weight: bold;
}

.inner-tabs{
    margin-top: 1%;
}

.inner-tabs button{
    background-color: #444 !important;
}

.desc-planing-development > div h5{
    border-bottom: 1px solid #444;
    margin-left: 1%;
}

.pd-p{
    padding-bottom: 1%;
}

#description-textarea, #comment-textarea{
    width: 100%;
    border-radius: 5px;
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.2);
    color:white;
    outline: none;
    font-size: 1.2em;
    border: 1px solid gray;
}

.bx-shadow:focus{
    box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.2);
}

.planing-work-item p{
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    /* text-align: center; */
}

.planing-work-item input{
    margin-bottom: 4%;
}

.addLink{
    font-size: 0.9em;
}
.addLink i{
    color: green;
    font-size: 1em;
}

.addLink p:hover{
    cursor: pointer;
    opacity: 0.6;
}

.input-style{
    background-color: transparent;
    border: 1px solid transparent;
    color:white;
    outline: none;
    border-radius: 5px;
    width: 100%;
    padding-left: 1%;
    font-size: 0.9em;
    /* border-bottom: 1px solid gray; */
}

.input-style:hover, .input-style:focus{
    border: 1px solid gray;
}

.nav-pills .nav-link {
    border: 1px solid transparent;
    border-bottom: 1px solid gray;
    border-radius: 0.25rem;
}

.nav-pills .nav-link:hover{
    border: 1px solid gray;
}

#customSelect i{
    font-size: 1em;
}

.dropdown-toggle::after{
    content: none;
}

.cl-blue{
    color: #2384c6;
}

.cl-danger{
    color: #e12e1c;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
    outline: none;
    border: 1px solid gray;
}

.badge{
    /* padding:1%; */
    height: 2.2vh !important;
    margin-right: 1.5%;
    width: 12%;
}

.badge input{
    padding-right: 8%;
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: none;
    outline: none;
    font-weight: bold;
}

.rmTag{
    position: relative;
    right: 20%;
    top:-10%;
    /* border:1px solid red; */
    padding: 5%;
}

.rmTag:hover{
    cursor: pointer;
}

.tagsContainer{
    max-height: 2.7vh;
    overflow: hidden;
}

tbody tr td i {
    font-size: 0.8em !important;
    padding-right: 3%;
}

/* COLORS FOR WORK ITEM */
.newColor, .NewColor{
    /* content: "•"; color: #444 !important; */
    color: white !important;
}

.activeColor, .ActiveColor{
    color: #375a7f !important;
}

.completedColor, .CompletedColor{
    color: #28a745 !important
}

.delectedColor, .DeletedColor{
    color: #e74c3c !important;
}

.blockColor, .BlockColor{
    color: #ffc107 !important
}

.abandonedColor, .AbandonedColor{ 
    color: gray
}

.fa-circle{
    font-size: 0.7em !important;
}

/* ===== END ====== */

.wrapper{
    /* max-height: 100%; */
    height: 100%;
    overflow: hidden;
}

th.orderColumn{
    width: 8%;
    max-height: 8%;
}

#filterByTeam{
    width: 15%;
}

.filterByTeamContainer{
    width: 15% !important;
}