* {
    font-family: 'Source Code Pro', monospace;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.4);
    /* overflow: hidden; */
}

nav>a {
    cursor: default;
}

/* ICONS */

i {
    font-size: 2em;
}

.fa-space-shuttle {
    font-size: 0.7em;
}

/* CARDS FOR SHOWING PROJETS */

.card {
    padding: 0 !important;
    padding-bottom: 5% !important;
}

.row {
    margin-bottom: 2%;
}

.card {
    margin-left: 3%;
}

.card:first-child {
    margin-left: 10%;
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.wrapper {
    width: 100%;
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

#sidebar {
    border-top: 0.1px solid rgba(255, 255, 255, 0.1);
    min-width: 12vw;
    max-width: 12vw;
    background: #303030 !important;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

#sidebar .logo span {
    display: block;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul li {
    font-size: 16px;
}

#sidebar ul li>ul {
    margin-left: 10px;
}

#sidebar ul li>ul li {
    font-size: 14px;
}

#sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a:hover {
    color: #f8b739;
}

#sidebar ul li.active>a {
    background: transparent;
    color: #f8b739;
}

@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rounded-circle {
    border-radius: 50% !important;
}

.collapse:not(.show) {
    display: none;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.small-fas{
    font-size: 0.8em;
}

.checkbox-container {
    /* border: 2px solid red; */
    width: 100%;
    /* padding: 0 5%; */
}

.checkbox-container:hover{
    opacity: .6;
    cursor:pointer;
    /* border-bottom:1px solid white; */
}

.alerts-container{
    left: 20%;
    margin-top: 1.5%;
    position:absolute;
    z-index: 999;
}

.alert{
    text-align: center;
}

#topNavbarOptions{
    padding-top: 1%;
    padding-left: 3%;
}

#topNavbarOptions a:first-child{
    outline: none;
    box-shadow: none;
}

.topNavMenuContainer{
    border-left: 0.5px solid gray;
}

.addIcon{
    color: green;
}

.addUserIcon{
    font-size: 1em;
    color: green;
}

.newWorkItemContainer{
    vertical-align: middle;
}

#createWorkItem{
    white-space: nowrap;
}


.notMargin{
    margin-left: 0 !important;
}

.navbar{
    padding: 0.5rem 1rem 0 1rem !important;
}