* {
    font-family: 'Source Code Pro', monospace;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.4);
    /* overflow: hidden; */
}

nav>a {
    cursor: default;
}

/* ICONS */

.fa-space-shuttle {
    font-size: 0.7em;
}

/* CARDS FOR SHOWING PROJETS */

.card {
    padding: 0 !important;
    padding-bottom: 5% !important;
}

.row {
    margin-bottom: 2%;
}

.card {
    margin-left: 3%;
}

.card:first-child {
    margin-left: 10%;
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.wrapper {
    width: 100%;
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.side-navbar {
    border-top: 0.1px solid rgba(255, 255, 255, 0.1);
    width: 15vw;
    background: #303030 !important;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sprint-review-card{
    font-weight: bold;
    text-align: center;
}

/* Media Screem */
@media screen and (max-width: 2000px) {
    .side-navbar {
        width: 18vw;
    }

    .list-unstyled li a{
        padding-bottom: 0 !important;
    }

    .project-main-status-container{
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }

    #table-container{
        padding-top: 1% !important;
    }

    .big-select{
        width: 25vw !important;
    }      
    .create-work-item-bg{
        margin-bottom: 1% !important;
        /* background-color: rgba(128, 128, 128, 0.2); */
    }
}

.completedWorkItemsMsg{
    font-size: 1.2em;
}

#sprint-board-container .open-existing-work-item-modal{
    font-size: 1.2em !important;
}

.no-m-bt{
    margin-bottom: 0%!important;
}

.hide-scroll{
    overflow: hidden !important;
}

.hide-x-scroll{
    overflow-x: hidden !important;
}

.hide-y-scroll{
    overflow-y: hidden !important; 
}

.table thead{
    z-index: 1;
}

.side-navbar a {
    font-size: 1.2em;
    font-weight: bold;
}

.side-navbar.active {
    margin-left: -300px;
}

.side-navbar .logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.side-navbar .logo span {
    display: block;
}

.side-navbar ul.components {
    padding: 0;
}

.side-navbar ul li {
    font-size: 16px;
}

.side-navbar ul li>ul {
    margin-left: 10px;
}

.side-navbar ul li>ul li {
    font-size: 14px;
}

.side-navbar ul li a {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.side-navbar ul li a:hover {
    color: #f8b739;
}

.side-navbar ul li.active>a {
    background: transparent;
    color: #f8b739;
}

@media (max-width: 991.98px) {
    .side-navbar {
        margin-left: -300px;
    }
    .side-navbar.active {
        margin-left: 0;
    }
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rounded-circle {
    border-radius: 50% !important;
}

.collapse:not(.show) {
    display: none;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.small-fas{
    font-size: 0.8em;
}

.checkbox-container {
    /* border: 2px solid red; */
    width: 100%;
    /* padding: 0 5%; */
}

.checkbox-container:hover{
    opacity: .6;
    cursor:pointer;
    /* border-bottom:1px solid white; */
}

.alerts-container{
    left: 20%;
    margin-top: 1.5%;
    position:absolute;
    z-index: 999;
}

.alert{
    text-align: center;
}

#topNavbarOptions{
    padding-top: 1%;
    padding-left: 3%;
}

#topNavbarOptions a:first-child{
    outline: none;
    box-shadow: none;
}

.topNavMenuContainer{
    border-left: 0.5px solid gray;
}

.addIcon{
    color: green;
}

.addUserIcon{
    font-size: 1em;
    color: green;
}

.newWorkItemContainer{
    vertical-align: middle;
}

#createWorkItem{
    white-space: nowrap;
}


.notMargin{
    margin-left: 0 !important;
}

.navbar{
    padding: 0.5rem 1rem 0 1rem !important;
}


/* DEBUG */

.b-red {
    border: 1px solid red;
}

.b-blue {
    border: 1px solid blue;
}
.b-green {
    border: 1px solid green;
}
/*  */

.small-title{
    font-size: 0.8em !important;
}

.normal-title{
    font-size: .9em !important;
}

.med-title{
    font-size: 1.1em !important;
}

.favoriteIconInactive{
    color: white;
    opacity: .8;
}

.favoriteIconInactive:hover{
    opacity: 1;
    color: yellow;
    cursor: pointer;
}

.favoriteIconAct{
    color: yellow;
}

.favoriteIconAct:hover{
    color: white;
    opacity: .8;
    cursor: pointer;
}

.favorite-icon-container{
    text-align: right !important;
    position: absolute;
    right: 1rem;
    margin-top: .3rem;
}

.favorite-icon-container i{
    font-size: 1.3em;
}

.option-container{
    margin-bottom: 2%;
}

.remove-arrow-select::-ms-expand{
    display: none;

}

.right-sidebar-submit-btn-container{
    display: inline-block;
    width: 30%;
}

.right-sidebar-submit-btn-container button{
    width: 100%;
}

.right-sidebar-submit-btn-container{
    margin-left: 10% !important;
}

.addDisabled:hover{
    cursor:not-allowed !important;
}

#table-container{
    margin-bottom: 5vh !important;
}

.hide-functional-scroll::-webkit-scrollbar {
    display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-functional-scroll {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}


.workItemIcon{
    font-size: 1.2em;
}

.feedbackWorkItemBtn:focus, #showPointsBtn:focus{
    outline: none !important;
    outline-color: transparent !important;
}