
.column-edit-team{
    text-align: center;
}

.edit-user-team-btn{
    padding-left: 8% !important;
    padding-right: 8% !important;
}

.tableHeader{
    background-color: rgba(128, 128, 128, 0.103);
}



.checkboxRowElement{
    font-size: 2em;;
}

.rowValues, .tableHeader{
    text-align: center;
}


.rowValues td:first-child{
    width: 10%;
}

.rowValues td:nth-child(2), .rowValues td:nth-child(3), .rowValues td:nth-child(4){
    width: 33.3%;
}

.addIcon{
    color: green;
}

.addUserIcon{
    font-size: 1em;
    color: green;
}

.table{
    border: 1px solid #444;
}