
.column-edit-team{
    text-align: center;
}

.edit-user-team-btn{
    padding-left: 8% !important;
    padding-right: 8% !important;
}

.tableHeader{
    background-color: rgba(128, 128, 128, 0.103);
}

.checkboxRowElement{
    font-size: 2em;;
}

.rowValues, .tableHeader{
    text-align: center;
}


.rowValues td:first-child{
    width: 5%;
}


.table{
    border: 1px solid #444;
}

.fa-fire{
    color: rgba(255, 0, 0, 0.719);
    font-size: 1.1em !important;
}

/* ======== MANAGES SPRINTS TABLE ========== */
/* .managesSprintTable th{
    border: 1px solid red;
} */

.managesSprintTable th, .managesSprintTable td{
    width: 20% !important;
}


/* First row */
.managesSprintTable th:first-child, .managesSprintTable td:first-child{
    width: 5% !important;
}

.formatIcon{
    font-size: 1.2em;
}
.fa-user-edit{
    font-size: 1.2em;
}
.fa-running{
    color: green;
    font-size: 1.2em;
}


.team-table th:first-child{
    width: 5% !important;
}

.team-table th{
    width: 33% !important;
}

.nav-link:focus, select:focus, .form-group:focus, button:focus, .column-edit-team, .btn-warning:focus{
    outline: none !important;
}

.trashIconRemoveUserFromTeam{
    font-size: 1.5em;
    vertical-align: middle;
}

.trashIconRemoveUserFromTeam:hover{
    opacity: .7;
    cursor: pointer;
}

.colUserName{
    padding: .5rem;
    border: 1px solid #444;
    margin-bottom: .2rem;
    border-radius: .2rem;
}

.colUserName:hover{
    background-color: #444;
}

.filter-team-users-icon{
    font-size: 1.2em;
}

.container-search-team-users{
    padding-left: 0 !important;
    padding-right: 0 !important;
}