
html, body{
    max-height: 100%;
}

.queryOptions li a{
    color: white !important;
}

.queryOptions li:hover{
    opacity: .5;
}

.makeQueryContainer select{
    width: 100%;
    color: white;
    font-size: 1em;
    border-color: gray;

}

.makeQueryContainer select::-ms-expand {
    display:block;
}

.makeQueryContainer{
    width: 90%;
    border-radius: 5px;
}

.makeQueryContainer .row{
    margin-bottom: 0;
}

.makeQueryContainer .rowTitle{
    text-align: left;
    opacity: 0.7;
}

.select2-container--default .select2-selection--single{
    border: 1px solid #444;
    border-radius:4px;
}

.userValue{
    padding: 0.1rem 1rem;
    height: initial;
}


.navbarQueryContainer .container-fluid{
    padding:0 !important; 
    margin: 0 !important;
}

.formatIcon{
    font-size: 1em;
}

.image-container{
    margin-top: 10vh;
}

.makeQueryContainer .filterRow{
    margin-bottom: 1vh !important;
}

.image-container img{
    margin: auto;
    width: 30%;
    margin-left: 33%;
    opacity: .3;
    transform: scaleX(-1);
}

.image-container p{
    font-size: 1.1em;
    opacity: 0.5;
}

.queryOptions{
    padding-left: .5rem;
    margin-left: .5rem;
    border-left: 1px solid gray;
}

.nav-tabs{
    border-bottom: none;
}

.nav-tabs .nav-item .active{
    border-bottom: 1px solid #2c81ba;
}

.setupRowContainer{
    margin-left: 50%;
}

.addQueryRowIcon, .removeQueryRowIcon{
    font-size: 1.5em;
    margin-left: 5%;
}
.addQueryRowIcon:hover, .removeQueryRowIcon:hover{
    cursor: pointer;
    opacity: .6;
}

.makeQueryContainer select{
    -webkit-appearance:none;
    margin: 0 !important;
}

.selectContainer input{
    border: 1px solid #444;
}


.selectContainer i{
    position: absolute;
    right: 1vw;
    top: 0.5vh;
    opacity: .5;
    transition: transform .3s ease-in-out;
}

.selectContainer:hover i {
    transform: rotate(180deg);
}

.userValue:hover, .my-custon-select:hover, .select2-container--default:hover .select2-selection--single:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(74, 74, 75, 0.4);
}


.userValue:focus{
    outline: none;
}

.custom-select:focus {
    border-color: #444;
}

.userValue:disabled{
    opacity: .2;
    background-color: transparent;
    color: unset;
    box-shadow: unset;
    cursor:unset;
}

#numberOfQueryResult{
    position: absolute;
    font-size: .7em;
    padding: .2rem;
    border: .8px solid red;
    border-radius: 20%;
}

.telescopeImage{
    position: fixed;
    left: 0;
  width: 100%;
  text-align: center;
    z-index: -1;
}

#myTabContent{
    max-height: 80vh;
    overflow-y: scroll;
}

.nav-link:focus{
    outline: none;
}

#queryNameInput{
    width: 100%;
    padding: .2rem .5rem;
    border-radius: .2rem;
    color: white;
    background-color: transparent;
    border: 2px solid #444;
}

#queryNameInput:focus{
    outline: none;
}

/* SHOW QUERIES */

#showQueries .modal-content{
    /* border: 1px solid red; */
    max-height: 50vh !important;
    min-height: 50vh !important;
}

#showQueries .modal-body{
    max-height: 40vh;
    overflow-y: scroll;
}

.colMyQuery{
    padding: .5rem;
    border: 1px solid #444;
    margin-bottom: .2rem;
    border-radius: .2rem;
}

.colMyQuery:hover{
    background-color: #444;
    cursor: pointer;
}

.trashIconMyQueries{
    font-size: 1.5em;
    vertical-align: middle;
}

.trashIconMyQueries:hover{
    opacity: .7;
    cursor: pointer;
}

/* Image when show query modal is empty */
#show-queries-empty-img{
    text-align: center;
    color: white;
    opacity: .7;
}
#show-queries-empty-img img{
    margin-top: 8vh;
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 2000px) {
    #show-queries-empty-img img{
        margin-top: 1vh !important;
        width: 30%;
        height: 30%;
    }
}

#empty-folder-image{
    opacity: 0.8 !important;
}