#projectName {
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
    color: lemonchiffon;
    text-transform: uppercase;
}

.fa-bars {
    font-size: 0.9em;
}

.box-title {
    margin-bottom: 0.5%;
    border-bottom: 1px solid rgba(240, 240, 240, 0.2);
}



#currentStatus {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #CD5C5C;
}

.icons {
    margin-right: 3%;
}

#statusMenu li {
    text-transform: capitalize;
}

.user-row .col,
.user-row .col a {
    text-align: center;
    color: lemonchiffon;
    /* text-decoration: underline; */
}

.user-row .col a:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

.fa-users {
    color: seagreen;
}

.fa-burn {
    color: #CD5C5C;
}

.status-list li span {
    font-weight: normal;
    font-size: 0.9em;
    padding-left: 1%;
}

/* .modal-lg,
.modal-xl {
    max-width: 90% !important;
} */

/* ================= BACK LOAD ================= */
.addIcon,
.settings {
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.backlogTitlte {
    border-right: 1px solid slategray;
    margin-left: 3%;
}

#backlog-filter-btn,
#backlog-save-icon-btn {
    font-size: 0.8em;
}


#createNewTaskBtn,
#backLogSettingsBtn {
    font-size: 1em;
    text-transform: capitalize;
    font-weight: bold;
    border: none;
}

.backlog-nav-item {
    margin: 0 6%;
}

#box-title-title {
    font-size: 2.5em !important;
}

@media (min-width: 768px) {
    .p-md-5 {
        padding: 0rem !important
            /* padding: 3rem !important; */
    }

}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody+tbody {
    border-color: transparent !important;
    font-weight: bold;
}

.backlog-boxs table {
    text-align: center;
}

.fa-save {
    font-size: 2.5em;
    color: white;
    opacity: 0.6;
}

/* Tooltip container */
.saveStatusBtn {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.saveStatusBtn .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.609);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.saveBtnContainer:hover .tooltiptext {
    visibility: visible;
}

.saveBtnContainer:hover{
    opacity: 0.5;
    cursor: pointer;
}

.saveBtnContainer i{
    color:royalblue;
}

#sidebar a {
    font-size: 1.2em;
    font-weight: bold;
}

.currentTab {
    color: #f8b739 !important;
    font-style: italic;
}

.fa-caret-down{
    font-size: 0.8em;
}



.filterOptions li{
    margin-left: 5%;
}

.statistics-boxs{
    width: 100% !important;
    max-width: 100% !important;
}

.filterDivisor{
    margin-top: 4%;
    border-top: 1px solid gray;
}

.filterDivisor button{
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 4% 3% 0% 0%;
}

/* TABLE FOR SHOWING VALUES */

#table-container{
   width: 100%;
   overflow-x: scroll;
}
#filterDiv{
    margin-bottom: 0 !important;
}

#workItemTable{
    table-layout: fixed;
    width: 100%;  
}

#workItemTable th{
  position: sticky; top: 0; z-index: 999; 
  background-color: #303030 !important;
}


#workItemTable td {
    /* border: 2px solid #000; */
    /* width: 60px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.openStory:hover{
    cursor: pointer;
    text-decoration: underline;
}

.tableColumnID{
    /* border: 1px solid red; */
    width: 8%;
}

.addIcon{
    color: green;
}

.addUserIcon{
    font-size: 1em;
    color: green;
}

.sprintIcon{
    color: #00a077;
    font-size: 1.5em;
}

.filterBySprintContainer{
    margin-right: 2%;
    width: 30%;
}

/* 
    ================================================================
    CHECKBOX Style for each row of the table
*/
.tableCheckBoxRowHeader{
    /* border: 1px solid red; */
    max-width: 2%;
    width: 2%;
}

.tableCheckBoxRowElement input{
    transform: scale(1.2);
}

.tableCheckBoxRowElement input:hover{
    cursor: pointer;
}

.rowValues:hover input[type="checkbox"]{
    visibility:visible;
}

.highligtRow{
    background-color: rgba(55, 90, 127, 0.5) !important;
}

/* =========== Style for select =========== */
.select2-container--default .select2-selection--single{
    border-radius: unset;
 }
 
 .select2-container--focus{
     border:none;
 }
 
 .select2-container--default .select2-selection--single{
     border: none;
     border-bottom: 1px solid white;
 }
 
 .select2-container--default:hover .select2-selection--single:hover{
     border: 1px solid white;
     border-radius:4px;
 }
 
 .select2-container--default .select2-results__option--selected{
     color:white;
     background-color: grey;
 }
 
 .select2-dropdown{
     background-color: #222;
 }
 
 .select2{
     width: 100% !important;
 }
 
 #select2-teamAssigned-containe, .select2-selection__rendered{
     color: white !important;
 }
 
 .select2-selection{
     color: white;
     background-color:inherit !important;
 }
 
 span.select2-selection.select2-selection--single {
     outline: none;
 }
/* 
    ================================================================
   END STYLE
*/

.removeSprintIcon{
    color :lightcoral;
    font-size: 1.5em;
    margin-left: 2%;
    padding-top: .5%;
}


.calendar-table th,td.available {
    color:black;
}

td.off{
    background-color: #fff;
    border-color: transparent;
    color: #999;
}

#sprint-duration-input{
    background-color: white !important;
    color: #444 !important;
}

.thworkItemSubMenu{
    width: 5%;
}

.tdWorkItemSubMenu{
    text-align: center;
}

.tdWorkItemSubMenu span i{
    font-size: 10%;
}

.backlog-table-body tr > *{
    height: 5vh;
    vertical-align: middle;
}

.addOpacity{
    opacity: .6;
}

.sub-menu-move-to-sprint-container{
    overflow-y: scroll;
    max-height: 15vh;
    width: 20vw;
}

.floatRigth{
    padding-top: .5em;
    float: right;
}

.selectForSubMenuMoveTo{
    width: 100% !important;
}

.currentSubMenuSprint{
    background-color:  rgba(55, 90, 127, .5);
}
.subMenuMoveToContainer{
    width: 20vh;
}

.sub-menu-sprint-element-container{
    border-bottom: 1px solid gray;
}

.sub-menu-sprint-element-container a{
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    /* border: 1px solid red; */
}
