
html, body{
    height: 100% !important;
    max-height: 100%;
}

.board-column{
    width: 100% !important;
}

#sprint-board-container{
    /* overflow-y: auto !important; */
    /* max-height: 75vh; */
    overflow-y: hidden;
    max-height: 80%;
    overflow-x: auto;
}

.flex-row{
    overflow-x: scroll;
}


/* ============= */

/* The heart of the matter */
/* #sprint-board-container .row{
    overflow-x: auto;
    white-space: nowrap;
} */

/* #sprint-board-container .row > .col-2 {
    display: inline-block;
    float: none;
} */

/* ============= */
#sprint-board-container .card:first-child{
    padding-top: 1rem;
}

.board-column .container-column{
    width: 100%;
    /* border: 1px solid yellow; */
    padding-bottom: 5rem !important;
    max-height: 75vh;
    overflow-y: auto;
    scrollbar-color: gray #444 ;
}

#sprint-board-container .card{
    width: 94%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 94% !important;
}

#sprint-board-container .board-column div:nth-child(2){
    padding-top: 1rem;
    background-color: rgba(48, 48, 48, .4);
}


.border-status{
    border: .5rem solid transparent;
    /* border-radius: 1rem; */
    margin-bottom: .5rem;
}


.card-header{
    background-color: #444 !important;
}

.todoColor{
    border-color: #939aa1;
}

.activeColor{
    border-color: #2f4d6c;
}

.reviewColor{
    border-color: #cf850f;
}

.completedColor{
    border-color: #00a077;
}

.blockColor{
    border-color: rgba(0, 0, 0, 0.555);
}

.removedColor{
    border-color: #c44133;
}

.card-title{
    /* margin-top: 1rem; */
    font-size: 1em;
    font-weight: bolder;
    overflow: hidden;
    /* text-overflow: ellipsis;
    white-space: nowrap; */

    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

.card-botton{
    margin-top: .5rem;
    font-size: 0.8em;
}

.card-botton i{
    font-size: 1em;
    color: white;
}

.card-body{
    padding-bottom: 0;
}

.card-text{
    font-size: 0.9em;
}

.card-title a:hover{
    opacity: .5;
    cursor: pointer;
    color: white;
}

.table-icon i{
    font-size: 1em;
}

/* ============= DRAGGABLE ELEMENT ============ */


.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.portlet-content {
    padding: 0.4em;
}

.portlet-placeholder {
    border: 1px dotted white;
    margin: 0 1em 1em 0;
    height: 10vh;
}

.glowBorder{
    outline: none;
    border-color: gray;
    box-shadow: 0 0 10px gray;
}

.card-header:hover{
    cursor:move;
}

.columnTitle{
    color: white;
    position: absolute;
    top: -1.3rem;
}

/* ====================================== */




/* .borderElement{
    border-top: .5rem solid #adb5bd;
    border-radius: .5%;
    width: 92%;
    margin-left: 8%;
} */