.work-item-wrapper{
    padding: 1%;    
}

.modal-header{
    justify-content:start;
}

.modal-header > i{
    font-size: 1.5em;
}

.titleAndId{
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.labelForTitle{
    border-radius: 5%;
    background-color: #2c81baaf;
    height: 100%;
    max-height: 100%;
    width: 5%;
    text-align: center;
}

.labelForTitle label{
    padding: 5%;
    margin:0;
    vertical-align: middle;
    font-size:1.3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.inputForTitle{
    width: 100%;
    margin-left: 0.5%;
}

.work-item-wrapper form{
    border-bottom: 1px solid #444;
}

.trashIconWrapper{
    margin: auto;
}

.trash-btn{ 
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.trash-btn i{
    font-size: 1.5em;
}

.grayColor{
    color: gray;
}

.redColor{
    color: rgba(255, 0, 0, 0.719);
}

/* COMMENTS ON WORK ITEMS */

.user-comments-container{
    /* border: 1px solid red; */
    max-height: 20vh;
    width: 100%;
    margin: auto;
}

.addComment{
    margin-left: 90%; width: 10%; margin-right: 0;
}

#main-body-container{
    max-height: 55vh;
    border-bottom: 1px solid #444;
    margin-bottom: 10vh;
}

#main-body-container, #main-body-container-modal{
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 2%;
}


#main-body-container-modal{
    max-height: 45vh;
    margin-bottom: 2vh;
}

.user-comments-container > div {
    margin-bottom: 2%;
}

#table-container{
    overflow-y: scroll;
    height: 70%;
}

.tags-container{
    max-width: 33%;
    overflow-x: hidden;    
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top-navbar-work-items-container{
    overflow-x: hidden;    
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top-navbar-work-item-title{
    font-size: .9em;
}


/* .top-navbar-work-item:nth-child(even){
    background-color: rgba(128, 128, 128, 0.1);
} */

.table-comments-column > span{ 
    padding-left: 4%;
}

.tags-td{
    overflow: hidden;
}

.teamInputSelect:hover{
    border: 1px solid gray;
}

.teamInputSelect:focus{
    background-color: inherit;
    color: white;
    border-radius: 0.25rem;
}

.teamInputSelect{
    background-color: inherit;
    color: white;
    border: transparent;
    border-bottom: 1px solid gray;
}
/* ============================================ */

#workItemPriority > .select2-container--default .select2-selection--single{
    border: none !important;
}

.input-border:hover{
    border: 1px solid white !important;
}

.col-title{
    width: 25%;
}

.col-assigned-user{
    width: 13% !important;
}