<div class="nav-item dropdown">

    <a class="nav-link dropdown-toggle" 
    data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        My Work items
    </a>
    
    <div class="user-options-dropdown dropdown-menu" onclick="event.stopPropagation()" 
    style="z-index: 10000000;">
        
        <!-- ASSIGNED TO ME AND ACTIVE -->

        <% if (userWorkItems && userWorkItems.length > 0){ %>

            <div class="container-fluid mb-2">
                
                <div class="row" style="margin: 0; padding:0; width: 100%;">
                    <span class="notification-title small-title">Open Work items</span>
                </div>
            </div>
            
            <% for(let i = 0; i < userWorkItems.length; i++) { %>
            
                <a class="dropdown-item med-title top-navbar-work-item mb-2" href="/dashboard/<%=project['_id']%>/planing/workItems/<%=userWorkItems[i]['_id']%>" style="width: 99%; padding-left: .5rem;">                                            

                    <div class="top-navbar-work-items-container" style="width: 100%">

                        <span class="top-navbar-work-item-title">
                            <div class="" style="display: inline-block; width: 5%;text-align: center;">

                                <span class="table-icon"> 
                                    <i class="fas <%=workItemType[userWorkItems[i]['type']].icon%>"></i> 
                                </span> 

                            </div>
                            
                            <span class="dropdown-text top-navbar-work-item-title" style="border-bottom: .5px solid rgba(128, 128, 128, 0.493);">
                                <%=userWorkItems[i]["title"]%>                                                  
                            </span> 
                        </span>                                                 
                    </div>
                </a>
            <%}%>
        <%}%>
    </div>
</div>