<td class="tableCheckBoxRowElement"> 
    <label for="checkboxRowElement" class="invisible labelcheckbox"> 
        <input type="checkbox" name="checkboxWorkItem[]" value="<%=workItems[i]['_id']%>" class="checkboxRowElement" />
    </label> 
</td> 